.card
  .row.nm
    .col.s12.np
      img(src="img/imgCard/logoMCFC.svg")
  .row.nm
    .col.s12
      h3 Manchester City écusson
  .row.nm
    .col.s12 
      p Nouveau logo dévoilé en décembre 2015 visant à moderniser l’écusson du club tout en se rapprochant de l’écusson « classique »
