<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/base.css")
    link(rel="stylesheet" href="swiper/swiper.min.css")
    title Gotham
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    script(type="text/javascript" src="swiper/swiper.min.js")  
    script(type="text/javascript" src="swiper/swiper.esm.js")
  body
    .swiper-container
      .swiper-wrapper
        .swiper-slide slide 1
        .swiper-slide slide 2
    script(type="text/javascript" src="js/index.js")
