<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/base.css")
    link(rel="stylesheet" href="swiper/swiper.min.css")
    title Gotham
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    //- link(href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet")
    // script(type="text/javascript" src="swiper/swiper.esm.js")
  body
    .swiper-container
      .swiper-wrapper
        .swiper-slide.valign-wrapper.centered(data-ref="1")
          include slides/slide_1
        .swiper-slide.valign-wrapper.centered(data-ref="2") slide 2
        .swiper-slide.valign-wrapper.centered(data-ref="3")
          include slides/slide_3
        .swiper-slide.valign-wrapper.centered(data-ref="4")
          include slides/slide_4
        .swiper-slide.valign-wrapper.centered(data-ref="5") slide 5
        .swiper-slide.valign-wrapper.centered(data-ref="6") slide 6
      .swiper-pagination
      .numerotation 1 of 6
      .swiper-button-next
        ion-icon(name="md-arrow-forward")
      .swiper-button-prev
        ion-icon(name="md-arrow-back")
      .swiper-bg-menu(data-name='menu', onclick="toggleMenu();")
        span
        span
        span
        //- img(src="img/md-menu.svg")
      .swiper-page-menu(data-stat='close')
        - var n = 1
        ul
          while n < 7
            li
              a(href="#", onclick="goTo(this);", data-num= n)= 'Page '+ n++
    script(src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js")
    script(type="text/javascript" src="swiper/swiper.min.js")
    script(type="text/javascript" src="js/index.js")
