.row.title
  .col.s10.offset-s1.np.valign-wrapper.centered
    img(src="img/terminaisons.svg")
.row.tower
  .col.s4.np.offset-s7.valign-wrapper
    img(src="img/tower.svg")
.row
  .col.s8.offset-s1.np
    p Les terminaisons de Gotham sont ouvertes. Ses caractères font aujourd’hui penser - en grande partie grâce à la victoire de B. Obama - liberté et ouverture d’esprit. 
      br/ Inspirés par la ville de New-York qui est le symbole du rêve américain, cette typographie est la représentation même de la modernité, de l’avancée technologique et de l’ambition. Utilisée sur le mémorial de la freedom tower, elle symbolise également la paix et l’avenir. 
