h1
  img(src="img/gotham.svg" alt="gotham" data-num="1")
img(src="img/hope.svg" alt="hope" data-num="2")
img(src='img/change.svg' alt="change" data-num="3")
.row
  .col.s6.offset-s1.np
    .row.firstP
      .col.s12.np
        p.mB30 Créée en 
          strong 2000 
          | pour 
          strong GQ 
          | par 
          strong Tobias Frere-Jones
          | . Le magazine avait à l’origine commandé une typographie 
          strong masculine 
          | pour un magazine qui parlerait économie, costumes et cigares, en bref, un magazine pour hommes.
          br/ Elle a été 
          strong rendue très célèbre par Barack Obama 
          | qui l’a utilisée pour sa campagne présidentielle de 
          strong 2007
          |. 
    .row.secondP
      .col.s12.np
        p.mB45 La 
          strong grande variété de graisses 
          | et de 
          strong familles 
          | de 
          strong Gotham 
          | la rend quasiment unique en son genre. Ses 
          strong largeurs assez étroites 
          | permettent de la rendre 
          strong lisible 
          | pour 
          strong n’importe quel type de texte
          | , et n’est donc pas dédiée uniquement aux titres. 
    .row.thirdP
      .col.s12.np
        p Gotham fait partie de la famille des 
          strong mécanes. 
          | Elle est 
          strong neutre 
          | et 
          strong sérieuse 
          | et peut s’essayer à un très grand nombre de rôles. Elle est particulièrement bien 
          strong adaptée au web
          | . 
  .col.s4
    p.center
      a(href="#" title="#" data-num="6" onclick="goTo(this);").typetest Typetester
        ion-icon(name="md-open")
    p.center.animTryIt
      ion-icon(name="md-arrow-up") 
      br/ Try it !
