.row.nm
  .col.s6.offset-s1.nps
    ul#listGeo
      li
        p 
          a.anim-1(data-num="1", onmouseover="geometricHover(this, '#ED1C24', 300, 3)", onmouseleave="geometricHover(this, '#212121', 99, 1)") Descendantes courtes
      li 
        p 
          a.anim-2(data-num="2", onmouseover="geometricHover(this, '#ED1C24', 400, 3)", onmouseleave="geometricHover(this, '#212121', 50, 1)") Ascendantes courtes
      li 
        p(data-num="9", onmouseover="geometricHover(this, '#ED1C24', 0, 4, 0, 34)", onmouseleave="geometricHover(this, '#212121', 0, 2, 0, 36)")
          a.anim-3(data-num="3", onmouseover="geometricHover(this, '#ED1C24', 0, 4)", onmouseleave="geometricHover(this, '#212121', 0, 2)") Grande hauteur de x
      li 
        p 
          a.anim-4(data-num="4", onmouseover="geometricHover(this, '#ED1C24', 3, 250, 302.251615, 1)", onmouseleave="geometricHover(this, '#212121', 1, 106, 303.751615, 38)") Axe vertical
      li 
        p 
          a.anim-5(data-num="6", onmouseover="geometricHover(this, '#ED1C24')", onmouseleave="geometricHover(this, '#212121')") Barre transversale horizontale et asymétrique
      li 
        p 
          a.anim-6(data-num="7", onmouseover="geometricHover(this, '#ED1C24')", onmouseleave="geometricHover(this, '#212121')") Terminaisons plates
      li 
        p 
          a.anim-7(data-num="8", onmouseover="geometricHover(this, '#ED1C24')", onmouseleave="geometricHover(this, '#212121')") Points carrés
  .col.s12
    include ../svg/geometric
- var n = 0;
while n < 3
  img(src="img/quad.svg", alt="quadrillage décoratif", data-num= n++)
