.row
  .col.s5.offset-s1.np
    .row
      .col.s12.np
        p Créée en 2000 pour GQ par Tobias Frere-Jones. Le magazine avait à l’origine commandé une typographie masculine pour un magazine qui parlerait économie et costumes, en bref, un magazine pour hommes.
          br/ Elle a été rendu très célèbre par Barack Obama qui l’a utilisée pour sa campagne présidentielle de 2007. 
    .row
      .col.s12.np
        p La grande variété de graisses et de familles de Gotham la rend quasiment unique en son genre. Ses largeurs assez étroites permettent de la rendre lisible pour n’importe quelle type de texte, et n’est donc pas dédiée uniquement aux titres. 
    .row
      .col.s12.np
        p Gotham fait partie de la famille des mécanes. Elle est neutre et sérieuse et peut s’essayer à un très grand nombre de rôles. Elle est particulièrement bien adaptée au web. 
  .col.s6
    p.center
      a(href="#" title="#") Typester
    p.center
      ion-icon(name="arrow-up") 
      br/ Try it !
