img(src="img/graisses.svg" alt="mot \"graisses\"")
.row
  .col.s8.offset-s2.valign-wrapper.centered
    //- include ../svg/variety_en.pug
    img(src="img/variety_en.svg" alt="différentes graisses de la typo Gotham")
