@keyframes tryIt{
  0% {
    margin-top: 15px;
  }
  50% {
    margin-top: 22px;
  }
  100% {
    margin-top: 15px;
  }
}
.animTryIt {
  animation-duration: 1.4s;
  animation-name: tryIt;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease;
}
