@import "variables";
@import "fonts";
* {
  font-family: 'Gotham-Book';
}
a {
  color: $black;
}
ul {
  li {
    list-style: none;

    input {
      outline: none;
      &[type="text"] {
        border-radius: 0;
        border: none;
        border-bottom: 3px solid $black;
        padding: 3px;
        font-size: 1.1rem;
      }
    }
  }
}
textarea {
  resize: none;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid $black;
  width: 100%;
  font-size: 1.1rem;
  outline: none;
  background-color: $extralightgrey;
  padding: 10px;
  height: 350px;
}
