@font-face {
  font-family: 'Gotham-XLight';
  src: url('../../fonts/Gotham-XLight.eot') format('eot'),
       url('../../fonts/Gotham-XLight.ttf') format('ttf'),
       url('../../fonts/Gotham-XLight.woff') format('woff'),
       url('../../fonts/Gotham-XLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-XLightItalic';
  src: url('../../fonts/Gotham-XLightItalic.eot') format('eot'),
       url('../../fonts/Gotham-XLightItalic.ttf') format('ttf'),
       url('../../fonts/Gotham-XLightItalic.woff') format('woff'),
       url('../../fonts/Gotham-XLightItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-Light';
  src: url('../../fonts/Gotham-Light.eot') format('eot'),
       url('../../fonts/Gotham-Light.ttf') format('ttf'),
       url('../../fonts/Gotham-Light.woff') format('woff'),
       url('../../fonts/Gotham-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-LightItalic';
  src: url('../../fonts/Gotham-LightItalic.eot') format('eot'),
       url('../../fonts/Gotham-LightItalic.ttf') format('ttf'),
       url('../../fonts/Gotham-LightItalic.woff') format('woff'),
       url('../../fonts/Gotham-LightItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-Thin';
  src: url('../../fonts/Gotham-Thin.eot') format('eot'),
       url('../../fonts/Gotham-Thin.ttf') format('ttf'),
       url('../../fonts/Gotham-Thin.woff') format('woff'),
       url('../../fonts/Gotham-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-ThinItalic';
  src: url('../../fonts/Gotham-ThinItalic.eot') format('eot'),
       url('../../fonts/Gotham-ThinItalic.ttf') format('ttf'),
       url('../../fonts/Gotham-ThinItalic.woff') format('woff'),
       url('../../fonts/Gotham-ThinItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../../fonts/Gotham-Book.eot') format('eot'),
       url('../../fonts/Gotham-Book.ttf') format('ttf'),
       url('../../fonts/Gotham-Book.woff') format('woff'),
       url('../../fonts/Gotham-Book.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-BookItalic';
  src: url('../../fonts/Gotham-BookItalic.eot') format('eot'),
       url('../../fonts/Gotham-BookItalic.ttf') format('ttf'),
       url('../../fonts/Gotham-BookItalic.woff') format('woff'),
       url('../../fonts/Gotham-BookItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../../fonts/Gotham-Medium.eot') format('eot'),
       url('../../fonts/Gotham-Medium.ttf') format('ttf'),
       url('../../fonts/Gotham-Medium.woff') format('woff'),
       url('../../fonts/Gotham-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url('../../fonts/Gotham-MediumItalic.eot') format('eot'),
       url('../../fonts/Gotham-MediumItalic.ttf') format('ttf'),
       url('../../fonts/Gotham-MediumItalic.woff') format('woff'),
       url('../../fonts/Gotham-MediumItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../../fonts/Gotham-Bold.eot') format('eot'),
       url('../../fonts/Gotham-Bold.ttf') format('ttf'),
       url('../../fonts/Gotham-Bold.woff') format('woff'),
       url('../../fonts/Gotham-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-BoldItalic';
  src: url('../../fonts/Gotham-BoldItalic.eot') format('eot'),
       url('../../fonts/Gotham-BoldItalic.ttf') format('ttf'),
       url('../../fonts/Gotham-BoldItalic.woff') format('woff'),
       url('../../fonts/Gotham-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-Black';
  src: url('../../fonts/Gotham-Black.eot') format('eot'),
       url('../../fonts/Gotham-Black.ttf') format('ttf'),
       url('../../fonts/Gotham-Black.woff') format('woff'),
       url('../../fonts/Gotham-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-Ultra';
  src: url('../../fonts/Gotham-Ultra.eot') format('eot'),
       url('../../fonts/Gotham-Ultra.ttf') format('ttf'),
       url('../../fonts/Gotham-Ultra.woff') format('woff'),
       url('../../fonts/Gotham-Ultra.woff2') format('woff2');
}
@font-face {
  font-family: 'Gotham-UltraItalic';
  src: url('../../fonts/Gotham-UltraItalic.eot') format('eot'),
       url('../../fonts/Gotham-UltraItalic.ttf') format('ttf'),
       url('../../fonts/Gotham-UltraItalic.woff') format('woff'),
       url('../../fonts/Gotham-UltraItalic.woff2') format('woff2');
}
