.valign-wrapper {
  display: flex;
  align-items: center;

  &.centered {
    justify-content: center;
  }
}
.np {
  padding: 0 !important;
}
.nm {
  margin: 0 !important;
}
.center {
  text-align: center;
}
