[data-ref="5"] {
  >.row {
    position: relative;
    min-height: 40vh;
    ul {

      li {
        position: absolute;
        &.grp1 {
          text-align: right;
          right: 51%;
        }
        &.grp2 {
          text-align: left;
          left: 51%;
        }

        a {
          font-family: Gotham-Bold;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  img {
    position: absolute;
    bottom: 15%;
    max-width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
