[data-ref="1"] {
  > .row {
    z-index: 1;
  }
  .typetest {
    position: relative;
    text-decoration: underline;

    ion-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
  h1 {
    position: absolute;
    width: 90%;
    height: 130px;
    top: 13%;
    right: 0;

    img {
      &[data-num="1"] {
        width: 100%;
      }
    }
  }
  img {
    position: absolute;

    &[data-num="2"] {
      width: 350px;
      top: 38%;
      right: 40px;
    }
    &[data-num="3"] {
      bottom: 25%;
      right: 70px;
    }
  }
  &.swiper-slide-active {
    .row {
      &.firstP {
        transform: translateX(0);
        transition-delay: 0.2s;
      }
      &.secondP {
        transform: translateX(0);
        transition-delay: 0.3s;
      }
      &.thirdP {
        transform: translateX(0);
        transition-delay: 0.37s;
      }
    }
  }
  .row {
    &.firstP,
    &.secondP,
    &.thirdP {
      transform: translateX(15%);
      transition: transform 0.7s ease;
    }
  }
  p:not(.typetester) {
    font-size: 0.9rem;
    line-height: 22px;
    text-indent: 40px;

    &.mB30 {
      margin-bottom: 30px;
    }
    &.mB45 {
      margin-bottom: 45px;
    }
  }
}
