[data-ref="3"] {
  &.swiper-slide-prev {
    ul {
      li {
        p {
          a {
            transform: translateX(30px);
          }
        }
      }
    }
  }
  &.swiper-slide-active {
    ul {
      li {
        p {
          a {
            transform: translateX(0);
          }
        }
      }
    }
  }
  &.swiper-slide-next {
    ul {
      li {
        p {
          a {
            transform: translateX(-30px);
          }
        }
      }
    }
  }

  align-items: flex-start;
  >.row {
    >.col {
      position: absolute;
      bottom: calc(175px + 10%);
    }
  }
  ul {
    li {
      // transition: margin 0.5s ease;
      // margin-left: 200px;
      p{
        font-size: 0.9rem;

        a{
          transition: transform 0.7s ease;
          // transition-delay: 0.2s;
          padding: 20px 0;
          // width: 100%;
          display: block;
          width: 100%;
          cursor: pointer;
          text-decoration: underline;
          &:hover {
            color: $red;
          }

          @for $i from 1 through 8 {
            &.anim {
              &-#{$i} {
                transition-delay: 0.8s * 1 / $i;
                transition-property: transform;
              }
            }
          }
        }
      }
    }
  }
  svg {
    max-width: 100%;
    position: absolute;
    // bottom: 10%;
    z-index: 1;
    rect {
      transition: all 0.3s ease;
    }
  }
  img {
    position: absolute;
    z-index: -1;

    &[data-num="0"] {
      bottom: calc(10% + 175px);
      right: 0;
    }
    &[data-num="1"] {
      top: 0;
      left: 0;
    }
    &[data-num="2"] {
      top: 0;
      right: 0;
    }
  }
}
