[data-ref="4"] {
  // svg {
  //   max-width: 100%;
  //
  //   @for $i from 1 through 8 {
  //     #line#{$i} {
  //       transition: opacity 0.8s ease;
  //       opacity: 0;
  //     }
  //   }
  // }
  img {
    max-width: 100%;
  }
  > img {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .col {
    img {
      max-height: 60vh;
      position: absolute;
      bottom: 15%;
    }
  }
}
