
/**** FONTS *****/

$fzXXS: 10px;
$fzXS: 14px;
$fzS: 16px;
$fzM: 18px;
$fzL: 20px;
$fzXL: 25px;
$fzXXL: 35px;
$fzXXXL: 40px;
$fzXXXXL: 60px;

/**** COLORS *****/

/**** Pixels *****/

$pxXS: 5px;
$pxS: 10px;
$pxM: 20px;
$pxL: 40px;
// $pxXL: 30px;
// $pxXXL: 35px;
// $pxXXXL: 40px;

/**** Screen width *****/

$small: 600px;
$medium: 992px;
$large:1200px;
