@import "variables";
.card {
  min-height: 1px;
  width: 300px;
  box-shadow: $shadow;
  position: absolute;
  margin: auto;
  background-color: $white;
  visibility: hidden;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.5s ease;

  >.row:first-child {
    position: relative;
    height: 180px;

    .col {
      height: 100%;

      img {
        max-height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: auto;
      }
    }
  }

  h3 {
    margin-top: 20px;
  }

  p {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  &.open {
    visibility: visible;
  }

  ion-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.8rem;
    z-index: 1;
    color: $black;

    &:hover {
      cursor: pointer;
    }
  }
}
